@model IEnumerable<firstcode.Models.mobilestore>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="2">
    <tr>
        <th>Id</th>
        <th>Modname</th>
        <th>Price</th>
    </tr>
    @{ 
        foreach(var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Modname</td>
            <td>@item.Price</td>
        </tr>
        }
    }
</table>